@import "tailwindcss";

:root {
  --foreground: #171717;

  /* custom styles */
  --primary-color: #1db954;  /* Spotify green */
  --primary-dark: #1aa34a;
  --background-light: #ffffff;
  --background-dark: #121212;
  --text-light: #000000;
  --text-dark: #ffffff;
  --gray-light: #b3b3b3;
  --gray-dark: #535353;

  --font-primary: var(--font-open-sans)
}

/* these styles we can use in our inline styling */
@theme inline {
  --color-background: var(--background-light);
  --color-foreground: var(--foreground);
}

/* detects users browser preference, below is the styles for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --foreground: #ededed;
  }
}

/* these styles will be applied to everything within app */
body {
  background: var(--background-light);
  color: var(--text-light);
  font-family: var(--font-primary), Helvetica, sans-serif;
}
